<div class="center">
<h2>Showing User</h2>
</div>
<p id="notice"><%= notice %></p>

<table>
<tr>
  <td><b>Name:</b></td>
  <td><%= @user.name %></td>
</tr>

<tr>
  <td><b>Email:</b></td>
  <td><%= @user.email %></td>
</tr>

<tr>
  <td><b>Usertype:</b></td>
  <td><%= @user.userType %></td>
</tr>
</table>

<div class="center">
<%= link_to image_tag("edit_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Edit"), edit_user_path(@user) %> Edit |
<%= link_to image_tag("back_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Back"), users_path %> Back
</div>