<h2>Test Cases</h2>
<table>
  <tr>
    <th>Id</th>
    <th>Test Case</th>
    <th>Scenario</th>
    <th>Status</th>
    <th>Assignee</th>
    <th>Changed?</th>
    <th>Flagged?</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @testcases.each do |testcase| %>
  <tr>
    <td><%= testcase.id %></td>
    <td><%= testcase.name %></td>
    <td><%= testcase.scenarios_id %></td>
    <td><%= testcase.status %></td>
    <td><%= link_to testcase.assignee,user_path(testcase.assignee_id) %></td>
    <td align="center"><% if (testcase.somethingChanged) %>
  			<%= image_tag("ticked_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Yes") %>
  		<% else %>
  		 	<%= image_tag("crossed_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "No")  %>
  		<% end %>
  	</td>
    <td align="center"><% if (testcase.flagged) %>
  			<%= image_tag("ticked_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Yes") %>
  		<% else %>
  		 	<%= image_tag("crossed_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "No")  %>
  		<% end %>
  	</td>
    <td align="center"><%= link_to image_tag("show_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Show"), testcase %> </td>
    <td align="center"><%= link_to image_tag("edit_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Edit"), edit_testcase_path(testcase) %> </td>
    <td align="center"><%= link_to image_tag("delete_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Delete"), testcase, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag("new_bw_icon.png", :border => 0,:alt => "New"), new_testcase_path %> New Testcase
