<%= render 'layouts/top_linkbar' %>
<div class="container">
<!-- putt the html below this line -->

<h2>Editing Scenario</h2>
<div class="center">
<%= render 'form' %>

<%= link_to image_tag("show_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Show"), @scenario %> Show|
<%= link_to image_tag("back_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Back"), scenarios_path %>Scenarios 
</div>



<!-- putt the html above this line -->
</div>
<%= render 'layouts/bottom_linkbar' %>