<div class="container">
<h2>Scenarios</h2>
<table class="contentTable">
  <tr>
    <th>Id</th>
    <th>Scenario</th>
    <th>Feature</th>
    <th>Status</th>
    <th>Assignee</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @scenarios.each do |scenario| %>
  <tr>
    <td><%= scenario.id %></td>
    <td><%= scenario.name %></td>
    <td><%= scenario.feature %></td>
    <td><%= scenario.status %></td>
    <td><%= link_to scenario.assignee,user_path(scenario.assignee_id) %></td>
    <td align="center"><%= link_to image_tag("show_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Show"), scenario %></td>
    <td align="center"><%= link_to image_tag("edit_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Edit"), edit_scenario_path(scenario) %></td>
    <td align="center"><%= link_to image_tag("delete_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Delete"), scenario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag("new_bw_icon.png", :border => 0,:class => "editIcon",:alt => "Edit"), new_scenario_path %> New Scenario
</div>