<%= render 'layouts/top_linkbar' %>
<div class="container">
<!-- putt the html below this line -->

<div class="center">
<h2> Showing Scenario </h2>
</div>
<p id="notice"><%= notice %></p>
<table>
<tr>
  <td><b>Feature:</b>
  <td><%= @scenario.feature %>
</tr>

<tr>
  <td><b>Scenario:</b>
  <td><%= @scenario.name %>
</tr>

<tr>
  <td><b>Status:</b>
  <td><%= @scenario.status %>
</tr>

<tr>
  <td><b>Assignee:</b></td>
  <td><%= @scenario.assignee %></td>
</tr>
</table>
<div class="center">
<%= link_to image_tag("edit_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Edit"), edit_scenario_path(@scenario) %> Edit |
<%= link_to image_tag("back_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Show"), scenarios_path %> Scenarios 
</div>


<!-- putt the html above this line -->
</div>
<%= render 'layouts/bottom_linkbar' %>