<!DOCTYPE html>
<html>
<head>
  <title>Caterpillar</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "jquery","application" %>
	<%= csrf_meta_tags %>
	<%= javascript_include_tag  %>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	 <script>
		$(function() {
			$( "#dialog" ).dialog({
				closeText: "",
				autoOpen: false,
				width: 750,
				height: 200,
				show: {
					effect: "blind",
					duration: 1000
				},
				hide: {
					effect: "explode",
					duration: 1000
				}
			});
		});
	</script>
</head>
<body>
<h1>Caterpillar</h1> <h3>Collaborative Test Case Design Portal for Agile Teams</h3>
  <div class=" navbar  navbar-inverse">
    <div class="container">
      <nav class="navbar-inner">
        <ul class="nav pull-left">
          <li><%= link_to "Scenarios", scenarios_path%></li>
          <li><%= link_to "Test Cases",testcases_path%></li>
        </ul>
      </nav>
      <nav>
        <div class="pull-right">
       	<% 
       	   if !User.all.empty?
       		user = User.find(1)
       	%>
       	
        <%= image_tag("user_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "User")%><%= link_to user.name,user_path(user)%>&nbsp;(<%=user.userType%>)|
        <%= link_to image_tag("settings_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Logout"), users_path%> |
        <%= image_tag("out_bw_icon.png", :border => 0,:class => "actionIcon",:alt => "Logout")%>&nbsp;<%= link_to "Logout", '/signin' %></li>
       <%end%>
       </div>
      </nav>
    </div>
  </div>
