<!DOCTYPE html>
<html>
<head>
  <title>Caterpillar</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "jquery","application" %>
	<%= csrf_meta_tags %>
	<%= javascript_include_tag  %>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>
<h1>Caterpillar</h1> <h3>Collaborative Test Case Design Portal for Agile Teams</h3>
<%= render 'layouts/top_linkbar' %>
<div class="container">
<%= yield %>
</div>
<!-- <%= render 'layouts/bottom_linkbar' %>-->

</body>
</html>
